.unavailable {
  padding: 0.75rem;
  border: 0;
  font-size: 1rem;
  background-color: #000;
  color: white;
  opacity: 50%;
}

.unavailable:hover {
  background-color: #000;
  opacity: 50%;
  cursor: default;
}

.available:hover {
  cursor: default;
  background-color: black;
  transition: unset;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  border: 2px solid fuchsia;
  gap: 0.5rem;
}

.infoRow {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.right {
  flex-grow: 1;
  text-align: start;
}

.petImage {
  max-height: 500px;
  max-width: 500px;
  object-fit: cover;
  object-position: 50% 50%;
}
