.unavailable {
  padding: 0.75rem;
  border: 0;
  font-size: 1rem;
  background-color: #000;
  color: white;
  opacity: 50%;
}

.unavailable:hover {
  background-color: #000;
  opacity: 50%;
  cursor: default;
}

.available:hover {
  cursor: default;
  background-color: black;
  transition: unset;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  border: 2px solid fuchsia;
  gap: 0.5rem;
}

.infoRow {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.right {
  flex-grow: 1;
  text-align: start;
}
/* 
.petName {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  position: absolute; 
  top: 45px; 
  left: 0;
  font-size: 15vw;
  width: 100%; 
  text-align: left;
  padding-left: 2rem; 
} */

