.unavailable {
  padding: 0.75rem;
  border: 0;
  font-size: 1rem;
  background-color: grey;
  color: white;
  border-bottom: 0.375rem solid black;
}

.unavailable:hover {
  background-color: grey;
  cursor: default;
  color: white;
}

.available:hover {
  cursor: default;
  background-color: black;
  transition: unset;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  border: 2px solid fuchsia;
  gap: 0.5rem;
}

.infoRow {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.right {
  flex-grow: 1;
  text-align: start;
}

.petImage {
  width: min(500px, 85dvw);
  object-fit: cover;
  object-position: 50% 50%;
}
