.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10;
  background-color: white;
  transform: translate(-50%, -50%);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: min(400px, 80vw);
}

.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.5);
}

form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.modal a {
  color: #0879bf;
  cursor: pointer;
  font-weight: bold;
}

.close {
  color: black;
  cursor: pointer;
}

.end {
  align-self: flex-end;
}

.alert {
  color: red;
  font-weight: bold;
  min-width: 1.125rem;
  margin-top: -0.5rem;
  margin-bottom: 0.5rem;
}

#login-password {
  margin-bottom: 2rem;
}
