.welcome {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: fit-content;
    align-items: center;
    margin-top: 2rem;
}

article {
    width: min(486px, 85dvw);
    text-align: justify;
    margin-bottom: 3rem;
}