.navContainer {
  width: 100vw;
  background-color: black;
  position: sticky;
  top: 0;
  border-bottom: 0.375rem solid #0879bf;
}

.navContainer button {
  font-size: 1.125rem;
  border-bottom: none;
}

.navContainer button:hover {
  border-bottom: none;
}
