.button-bar {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}

button {
  padding: 0.75rem;
  border: 0;
  font-size: 1rem;
  cursor: pointer;
  background-color: #000;
  color: white;
  transition: background-color 200ms ease-in;
}

button:hover {
  background-color: #0879bf;
}

button:disabled {
  opacity: 50%;
  cursor: not-allowed;
}

button:disabled:hover{
  background-color: #000;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10;
  background-color: white;
  transform: translate(-50%, -50%);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: clamp(13rem, 25vw, 33vw);
}

.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.5);
}

form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.modal a {
    color: #0879bf;
    cursor: pointer;
    font-weight: bold;
}

input {
  margin-bottom: 1rem;
  border: 1px solid black;
  padding: 0.875rem 0.75rem;
}

input:focus {
  outline: none;
  border-color: #0879bf;
}

label {
  margin-bottom: 0.125rem;
  align-self: flex-start;
}

.close {
  color: black;
  cursor: pointer;
}

.end {
  align-self: flex-end;
}

.alert {
  color: red;
  font-weight: bold;
  min-width: 1.125rem;
  margin-top: -0.5rem;
  margin-bottom: 0.5rem;
}

#login-password {
  margin-bottom: 2rem;
}