.button-bar {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
}

button {
    padding:1rem;
    border: 2px solid black;
    font-size: 1.5rem;
    border-radius: 1rem;
    cursor: pointer;
    background-color: hsl(34, 100%, 55%);
}

button:hover {
    background-color: hsl(34, 75%, 45%);
}