.search-page {
  margin-top: 2rem;
}

.search-bar {
  display: flex;
  margin-top: 0.125rem;
}

.petList {
  gap: 1.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
}

.petCard {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  grid-column: span 1;
  flex: 0 0 calc(1 / 3 * 100% - 1rem);
}

.petCard img {
  max-height: 200px;
}

fieldset {
  padding: 1em;
  display: flex;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

fieldset label,
fieldset input,
fieldset select {
  margin: 0;
  align-self: center;
}

fieldset input {
  width: 5rem;
}

legend {
  text-align: start;
  background-color: black;
  color: white;
  padding: 5px 10px;
}

.petText {
  padding: 0.5rem;
  text-align: start;
}

.petNameAndType {
  display: flex;
  flex-direction: row;
}

.petName {
  flex-grow: 1;
  font-family: "Lobster Two";
  font-size: 1.25rem;
}
