.search-page {
  margin-top: 2rem;
}

.search-bar {
  display: flex;
  margin-top: 0.125rem;
}

fieldset {
  padding: 1em;
  display: flex;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

fieldset label,
fieldset input,
fieldset select {
  margin: 0;
  align-self: center;
}

fieldset input {
  width: 5rem;
}

legend {
  text-align: start;
  background-color: black;
  color: white;
  padding: 5px 10px;
}
